/*Variables in this file will be used across any extension files pulled in*/
:root {
   --unholy-background: #0d1117; 
   --unholy-surface: #161b22;    
   --unholy-font: #e6edf3;       
   --unholy-main: #da3633;       
   --unholy-secondary: #f85149;
   --unholy-border: rgba(255, 255, 255, 0.1); 
}